<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock %}
  {% include 'partials/tailwind_brand.html' %}
  {% block head_extra %}{% endblock %}
</head>
<body class="{% block body_class %}bg-paper text-ink{% endblock %}">
  {% include 'partials/site_nav.html' %}
  <main id="main-content" tabindex="-1">
    {% block content %}{% endblock %}
  </main>
  {% include 'partials/site_footer.html' %}
  {% block scripts %}{% endblock %}
  {% if matomo_site_id %}
  <script>
    window._paq = window._paq || [];
    window._paq.push(['disableCookies']);
    window._paq.push(['setDoNotTrack', true]);
    window._paq.push(['trackPageView']);
    window._paq.push(['enableLinkTracking']);
    window._paq.push(['setTrackerUrl', 'https://stats.openleg.ch/matomo.php']);
    window._paq.push(['setSiteId', '{{ matomo_site_id }}']);
  </script>
  <script src="https://stats.openleg.ch/matomo.js" async defer></script>
  {% endif %}
</body>
</html>
